<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="Thư Viện Ảnh"
        tools:replace="android:label">

        <!-- Chỉ có Gallery Activity duy nhất -->
        <activity
            android:name=".ui.GalleryActivity"
            android:exported="true"
            android:label="Thư Viện Ảnh"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:exported,android:label" />

        <!-- Remove other activities -->
        <activity android:name=".MenuActivity" tools:node="remove" />
        <activity android:name=".MainActivity" tools:node="remove" />
        <activity android:name=".ui.CalculatorActivity" tools:node="remove" />
        <activity android:name=".ui.WeatherActivity" tools:node="remove" />
        <activity android:name=".ui.WeatherDetailActivity" tools:node="remove" />
        <activity android:name=".ui.TaskActivity" tools:node="remove" />
        <activity android:name=".ui.ContactListActivity" tools:node="remove" />
        <activity android:name=".ui.MessageScreenActivity" tools:node="remove" />
    </application>
</manifest>

