<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:label="Menu Ứng Dụng"
        tools:replace="android:label">

        <!-- MenuActivity as launcher -->
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="Menu Ứng Dụng"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            tools:replace="android:exported,android:label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All feature activities available -->
        <activity
            android:name=".ui.CalculatorActivity"
            android:exported="false"
            android:label="Máy tính"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:label" />

        <activity
            android:name=".ui.GalleryActivity"
            android:exported="false"
            android:label="Thư viện ảnh"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:label" />

        <activity
            android:name=".ui.WeatherActivity"
            android:exported="false"
            android:label="Thời tiết"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:label" />

        <activity
            android:name=".ui.WeatherDetailActivity"
            android:exported="false"
            android:label="Chi tiết thời tiết"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:label" />

        <activity
            android:name=".ui.TaskActivity"
            android:exported="false"
            android:label="S-Task"
            android:theme="@style/Theme.MyApplication.AppCompat"
            tools:replace="android:label" />

        <!-- Remove compose-based activities not used in menu mode -->
        <activity android:name=".MainActivity" tools:node="remove" />
        <activity android:name=".ui.ContactListActivity" tools:node="remove" />
        <activity android:name=".ui.MessageScreenActivity" tools:node="remove" />
    </application>
</manifest>
